<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>InfoVis UE 2023</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">

    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://unpkg.com/topojson@3.0.2/dist/topojson.min.js"></script>

</head>
<body>

<h1>InfoVis UE 2023 - Exercise 2 - Group 15</h1>
<p>Artur Ohanian(12239164) Anastasia Cissa(11937948) Viktoriia Ovsianik(12217985)</p>


<div id="main_container" class="main_container">
    <div class="container">
        <label>Indicator:</label>
        <select id="indicator_dropdown" class="dropdown"></select>
        <svg id="svg_map"></svg>
    </div>
    <div class="container">
        <p id="country">Country Name</p>
        <div id="svg_plot"></div>
    </div>
    <div class="container" id="info"></div>

</div>
<div class="container">
    <div id="svg_linechart"></div>
</div>

<script src="{{ url_for('static',filename='js/map.js') }}"></script>
<script src="{{ url_for('static',filename='js/scatterplot.js') }}"></script>
<script src="{{ url_for('static',filename='js/linechart.js') }}"></script>

<script>
    const dropdown = document.getElementById("indicator_dropdown");
    const keys = Object.keys({{ countries_data | safe }}[0]).slice(3);
    for (const key of keys) {
        const option = document.createElement("option");
        option.text = key;
        dropdown.add(option);
    }
    initScatterplot({{ pca_data | safe }})
    initMap({{ countries_data | safe }})
</script>
</body>
</html>